/*************Start Default Theme**************/

.option-box .color-option,
.testimonials .carousel-indicators li.active
{
    border: 3px solid #27d82a;
}
/* Active Link */

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.option-box .gear-option,
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
#scroll-top
{
    background-color: #27d82a;
}

.dropdown-menu
{
    border-top: 3px solid #27d82a;
}


.dropdown-menu .divider
{
    background-color: #27d82a;  
}  


.about h1 span,
.testimonials span,
.footer h3,
.navbar-inverse .navbar-brand span
{
    color: #27d82a;
}

.footer .copyright span
{
    color: #27d82a;
}
/*************End Default Theme***************/